<!-- app/views/chats/show.html.erb -->
<h1><%= @chat_room.name  %></h1>
<div id="messages">
  <%= render partial: "messages/message", collection: @messages %>
</div>
<%= form_with url: chat_messages_path(@chat_room) do |form| %>
  <%= form.text_area :content, name: "message[content]", placeholder: "Type your message" %>
  <%= form.submit "Send" %>
<% end %>
<!---->